USE [master]
GO
/****** Object:  Database [1gb_sadikdb]    Script Date: 20.02.2014 17:02:10 ******/
CREATE DATABASE [1gb_sadikdb] ON  PRIMARY 
( NAME = N'1gb_sadikdb', FILENAME = N'D:\MSSQL\MSSQL10.MSSQLSERVER\MSSQL\DATA\1gb_sadikdb_1gb_sadikdb_rt0.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'1gb_sadikdb_log', FILENAME = N'D:\MSSQL\MSSQL10.MSSQLSERVER\MSSQL\DATA\1gb_sadikdb_1gb_sadikdb_log_rt0.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1gb_sadikdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1gb_sadikdb]
GO
/****** Object:  StoredProcedure [dbo].[UpdateKidActivityStats]    Script Date: 20.02.2014 17:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Alexander A
-- Create date: 2014-01-19
-- Description:	Updates Statistics for a given Kid
-- =============================================
CREATE PROCEDURE [dbo].[UpdateKidActivityStats] 
	-- Add the parameters for the stored procedure here
	@KidId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

IF EXISTS(SELECT Id FROM Kids WHERE Id = @KidId)
BEGIN
	DELETE FROM ActivityStats WHERE KidId = @KidId
	INSERT INTO ActivityStats (ItemId, KidId, Brief, Short, Long, Polarization)
	SELECT 
			StatColumn0.Id as ItemId, 
			@KidId as KidId,
			StatColumn0.Count0 as Brief, 
			StatColumn1.Count1 as Short,
			StatColumn2.Count2 as Long,
			StatColumnPolarization.CountPolarization as Polarization
		FROM
		(SELECT Inventory.Id, Count(ItemId) as Count0
		FROM Inventory LEFT JOIN 
		(SELECT ItemId FROM Activities WHERE KidId = @KidId AND Duration = 0) as ActivitiesDuration0
		ON Inventory.Id = ActivitiesDuration0.ItemId 
		WHERE Inventory.IsDeleted = 0
		GROUP BY Inventory.Id) AS StatColumn0
		INNER JOIN
		(SELECT Inventory.Id, Count(ItemId) as Count1
		FROM Inventory LEFT JOIN 
		(SELECT ItemId FROM Activities WHERE KidId = @KidId AND Duration = 1) as ActivitiesDuration1
		ON Inventory.Id = ActivitiesDuration1.ItemId 
		WHERE Inventory.IsDeleted = 0
		GROUP BY Inventory.Id) AS StatColumn1
		ON StatColumn0.Id = StatColumn1.Id
		INNER JOIN
		(SELECT Inventory.Id, Count(ItemId) as Count2
		FROM Inventory LEFT JOIN 
		(SELECT ItemId FROM Activities WHERE KidId = @KidId AND Duration = 2) as ActivitiesDuration2
		ON Inventory.Id = ActivitiesDuration2.ItemId 
		WHERE Inventory.IsDeleted = 0
		GROUP BY Inventory.Id) AS StatColumn2
		ON StatColumn1.Id = StatColumn2.Id
		INNER JOIN
		(SELECT Inventory.Id, Count(ItemId) as CountPolarization
		FROM Inventory LEFT JOIN 
		(SELECT ItemId FROM Activities WHERE KidId = @KidId AND Polarization = 1) as ActivitiesPolarization
		ON Inventory.Id = ActivitiesPolarization.ItemId 
		WHERE Inventory.IsDeleted = 0
		GROUP BY Inventory.Id) AS StatColumnPolarization
		ON StatColumn2.Id = StatColumnPolarization.Id
END



END

GO
/****** Object:  Table [dbo].[Activities]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KidId] [int] NOT NULL,
	[ItemId] [int] NULL,
	[TeacherId] [int] NULL,
	[DateObserved] [datetime] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Duration] [tinyint] NOT NULL,
	[Polarization] [bit] NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActivityStats]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityStats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KidId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Brief] [int] NOT NULL,
	[Short] [int] NOT NULL,
	[Long] [int] NOT NULL,
	[Polarization] [int] NOT NULL,
 CONSTRAINT [PK_ActivityStats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ADR]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[KidId] [int] NOT NULL,
	[AchievementsTeachers] [nvarchar](max) NULL,
	[AchievementsParents] [nvarchar](max) NULL,
	[DifficultiesTeachers] [nvarchar](max) NULL,
	[DifficultiesParents] [nvarchar](max) NULL,
	[RecommendationsTeachers] [nvarchar](max) NULL,
	[RecommendationsParents] [nvarchar](max) NULL,
	[Performed] [bit] NOT NULL,
	[StartPeriod] [datetime] NULL,
	[EndPeriod] [datetime] NULL,
 CONSTRAINT [PK_ADR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CameInClass]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CameInClass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KidId] [int] NOT NULL,
	[DateTimeCameInClass] [datetime] NOT NULL,
	[TeacherId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_CameInClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ParentZoneId] [int] NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kids]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kids](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Patronymic] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[DateAccepted] [datetime] NOT NULL,
	[DateDismissed] [datetime] NULL,
	[IsDismissed] [bit] NOT NULL,
 CONSTRAINT [PK_Kids] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Presentations]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KidId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[TeacherId] [int] NULL,
	[DatePerformed] [datetime] NOT NULL,
 CONSTRAINT [PK_Presentations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skills]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KidId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Degree] [tinyint] NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[RoleId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 20.02.2014 17:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[ParentZoneId] [int] NULL,
 CONSTRAINT [PK_Zones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [KidId], [ItemId], [TeacherId], [DateObserved], [Comment], [Duration], [Polarization]) VALUES (2, 1, 1, 1, CAST(0x0000A2B80110B8ED AS DateTime), NULL, 1, 0)
INSERT [dbo].[Activities] ([Id], [KidId], [ItemId], [TeacherId], [DateObserved], [Comment], [Duration], [Polarization]) VALUES (6, 1, 1, 1, CAST(0x0000A2C00030406A AS DateTime), NULL, 0, 0)
INSERT [dbo].[Activities] ([Id], [KidId], [ItemId], [TeacherId], [DateObserved], [Comment], [Duration], [Polarization]) VALUES (7, 1, 9, 1, CAST(0x0000A2AE00000000 AS DateTime), N'Странно, что мальчик занимается выщиванием', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[ActivityStats] ON 

INSERT [dbo].[ActivityStats] ([Id], [KidId], [ItemId], [Brief], [Short], [Long], [Polarization]) VALUES (35, 2, 1, 0, 0, 0, 0)
INSERT [dbo].[ActivityStats] ([Id], [KidId], [ItemId], [Brief], [Short], [Long], [Polarization]) VALUES (36, 2, 3, 0, 0, 0, 0)
INSERT [dbo].[ActivityStats] ([Id], [KidId], [ItemId], [Brief], [Short], [Long], [Polarization]) VALUES (37, 2, 5, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[ActivityStats] OFF
SET IDENTITY_INSERT [dbo].[ADR] ON 

INSERT [dbo].[ADR] ([Id], [Date], [KidId], [AchievementsTeachers], [AchievementsParents], [DifficultiesTeachers], [DifficultiesParents], [RecommendationsTeachers], [RecommendationsParents], [Performed], [StartPeriod], [EndPeriod]) VALUES (6, CAST(0x0000A32B00000000 AS DateTime), 12, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[ADR] ([Id], [Date], [KidId], [AchievementsTeachers], [AchievementsParents], [DifficultiesTeachers], [DifficultiesParents], [RecommendationsTeachers], [RecommendationsParents], [Performed], [StartPeriod], [EndPeriod]) VALUES (7, CAST(0x0000A2D700000000 AS DateTime), 13, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADR] OFF
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([Id], [Name], [IsDeleted], [ParentZoneId]) VALUES (1, N'кубики', 1, 1)
INSERT [dbo].[Inventory] ([Id], [Name], [IsDeleted], [ParentZoneId]) VALUES (2, N'утюг', 1, 1)
INSERT [dbo].[Inventory] ([Id], [Name], [IsDeleted], [ParentZoneId]) VALUES (3, N'утюг-утюг', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Inventory] OFF
SET IDENTITY_INSERT [dbo].[Kids] ON 

INSERT [dbo].[Kids] ([Id], [FirstName], [LastName], [Patronymic], [DateOfBirth], [DateAccepted], [DateDismissed], [IsDismissed]) VALUES (1, N'Саша', N'Андриенко', N'Александрович', CAST(0x00009EB000000000 AS DateTime), CAST(0x0000A2B600FDAE19 AS DateTime), CAST(0x0000A2C000DA09D9 AS DateTime), 1)
INSERT [dbo].[Kids] ([Id], [FirstName], [LastName], [Patronymic], [DateOfBirth], [DateAccepted], [DateDismissed], [IsDismissed]) VALUES (2, N'Сережа', N'Иванов', N'Михалыч', CAST(0x0000A20D00000000 AS DateTime), CAST(0x0000A2A600000000 AS DateTime), CAST(0x0000A2C000DA0330 AS DateTime), 1)
INSERT [dbo].[Kids] ([Id], [FirstName], [LastName], [Patronymic], [DateOfBirth], [DateAccepted], [DateDismissed], [IsDismissed]) VALUES (3, N'Маша', N'Никулина', N'Николаевна', CAST(0x00009ED600000000 AS DateTime), CAST(0x0000A2AF00000000 AS DateTime), CAST(0x0000A2C000DA05DE AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Kids] OFF
SET IDENTITY_INSERT [dbo].[Presentations] ON 

INSERT [dbo].[Presentations] ([Id], [KidId], [ItemId], [TeacherId], [DatePerformed]) VALUES (1, 1, 3, NULL, CAST(0x0000A2B500000000 AS DateTime))
INSERT [dbo].[Presentations] ([Id], [KidId], [ItemId], [TeacherId], [DatePerformed]) VALUES (2, 1, 9, NULL, CAST(0x0000A2B300000000 AS DateTime))
INSERT [dbo].[Presentations] ([Id], [KidId], [ItemId], [TeacherId], [DatePerformed]) VALUES (3, 5, 35, NULL, CAST(0x0000A2B900000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Presentations] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([Id], [KidId], [ItemId], [Degree]) VALUES (1, 1, 3, 2)
INSERT [dbo].[Skills] ([Id], [KidId], [ItemId], [Degree]) VALUES (2, 1, 1, 0)
INSERT [dbo].[Skills] ([Id], [KidId], [ItemId], [Degree]) VALUES (3, 1, 9, 1)
GO
SET IDENTITY_INSERT [dbo].[Skills] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [RoleId], [IsDeleted]) VALUES (1, N'Александр', N'Андриенко', N'aleandr2003@gmail.com', 0xAE0AC5D3D913CA5646AF960FD604721C75AFA613A38CA89199E8FA2F0684E0EF1334B59F29805607B24C3F93708E85F0EF562A4C6C535EC6C2434F3DF1E8DCBEAFA646C3ADB9D64EBFF8F9CDFF27685E1204B22F206B9A5548262BA3FC2F019D7955C1D9B12D706FA6D064817D843DA5428FE804F02D4A71D9494AFAB8F30C8F, 0xB060C08FCAF61F8766B485B08FB10DDB, 0, 0)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [RoleId], [IsDeleted]) VALUES (2, N'Юлька', N'Клепалова', N'jukla27@gmail.com', 0x356008C73C0A06F953156143693DD68E0BE98F570EAA4685467AFC7F272C9521638F278C82E1180594085BD4F6B5157428A1E8FC570D7DC903D7AAA01B4B1B2331D90BEA3D30B6263975F31B8A66D3A6ADBB98754547AEB6300DA2E22860AFD8A49A9216F9E06F67D3C1C78D062DA37A42F704D819D423D7FE920E8459758CD5, 0xFE6083C0000D3CB285C4AA88C116567B, 0, 0)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [RoleId], [IsDeleted]) VALUES (3, N'Надежда', N'Курова', N'kurova.n.a@gmail.com', 0xE90A60BAD330EB69BA4B286A4E1A61C5CDAB2E211C383EADCAC52E85B6498992AEDA77C1D809AB9762A97EC0B0F7BEA19F6B8FF047E4A488B9CBAD767107181524879C96B3D7914ED1205E8C11B0FBC0DE7FDF9F4140493A76691EFE35AB525F0E5CD40DE806B9A72FFDD6CD5AA2E523EF45E194D4E73BB88E94756A194F2D35, 0xF236F58F278E500CFCE9166DE15D690C, 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Zones] ON 

INSERT [dbo].[Zones] ([Id], [Name], [ParentZoneId]) VALUES (1, N'global', NULL)
INSERT [dbo].[Zones] ([Id], [Name], [ParentZoneId]) VALUES (17, N'УПЖ', 1)
INSERT [dbo].[Zones] ([Id], [Name], [ParentZoneId]) VALUES (18, N'СЕНСОРИКА', 1)
SET IDENTITY_INSERT [dbo].[Zones] OFF
ALTER TABLE [dbo].[Activities] ADD  CONSTRAINT [DF_Activities_DateObserved]  DEFAULT (getdate()) FOR [DateObserved]
GO
ALTER TABLE [dbo].[Activities] ADD  CONSTRAINT [DF_Activities_Duration]  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Activities] ADD  CONSTRAINT [DF_Activities_Polarization]  DEFAULT ((0)) FOR [Polarization]
GO
ALTER TABLE [dbo].[ActivityStats] ADD  CONSTRAINT [DF_ActivityStats_Brief]  DEFAULT ((0)) FOR [Brief]
GO
ALTER TABLE [dbo].[ActivityStats] ADD  CONSTRAINT [DF_ActivityStats_Short]  DEFAULT ((0)) FOR [Short]
GO
ALTER TABLE [dbo].[ActivityStats] ADD  CONSTRAINT [DF_ActivityStats_Long]  DEFAULT ((0)) FOR [Long]
GO
ALTER TABLE [dbo].[ActivityStats] ADD  CONSTRAINT [DF_ActivityStats_Polarization]  DEFAULT ((0)) FOR [Polarization]
GO
ALTER TABLE [dbo].[ADR] ADD  CONSTRAINT [DF_ADR_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[ADR] ADD  CONSTRAINT [DF_ADR_Performed]  DEFAULT ((0)) FOR [Performed]
GO
ALTER TABLE [dbo].[CameInClass] ADD  CONSTRAINT [DF_CameInClass_DateTimeCameInClass]  DEFAULT (getdate()) FOR [DateTimeCameInClass]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_ParentZone]  DEFAULT ((1)) FOR [ParentZoneId]
GO
ALTER TABLE [dbo].[Kids] ADD  CONSTRAINT [DF_Kids_IsDismissed]  DEFAULT ((0)) FOR [IsDismissed]
GO
ALTER TABLE [dbo].[Presentations] ADD  CONSTRAINT [DF_Presentations_DatePerformed]  DEFAULT (getdate()) FOR [DatePerformed]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF_Skill_Degree]  DEFAULT ((0)) FOR [Degree]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsAdmin]  DEFAULT ((0)) FOR [RoleId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Inventory] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Inventory] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Inventory]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Kids] FOREIGN KEY([KidId])
REFERENCES [dbo].[Kids] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Kids]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Users] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Users]
GO
ALTER TABLE [dbo].[ActivityStats]  WITH CHECK ADD  CONSTRAINT [FK_ActivityStats_Inventory] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Inventory] ([Id])
GO
ALTER TABLE [dbo].[ActivityStats] CHECK CONSTRAINT [FK_ActivityStats_Inventory]
GO
ALTER TABLE [dbo].[ActivityStats]  WITH CHECK ADD  CONSTRAINT [FK_ActivityStats_Kids] FOREIGN KEY([KidId])
REFERENCES [dbo].[Kids] ([Id])
GO
ALTER TABLE [dbo].[ActivityStats] CHECK CONSTRAINT [FK_ActivityStats_Kids]
GO
ALTER TABLE [dbo].[ADR]  WITH CHECK ADD  CONSTRAINT [FK_ADR_Kids] FOREIGN KEY([KidId])
REFERENCES [dbo].[Kids] ([Id])
GO
ALTER TABLE [dbo].[ADR] CHECK CONSTRAINT [FK_ADR_Kids]
GO
ALTER TABLE [dbo].[CameInClass]  WITH CHECK ADD  CONSTRAINT [FK_CameInClass_Kids] FOREIGN KEY([KidId])
REFERENCES [dbo].[Kids] ([Id])
GO
ALTER TABLE [dbo].[CameInClass] CHECK CONSTRAINT [FK_CameInClass_Kids]
GO
ALTER TABLE [dbo].[CameInClass]  WITH CHECK ADD  CONSTRAINT [FK_CameInClass_Users] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CameInClass] CHECK CONSTRAINT [FK_CameInClass_Users]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Zones] FOREIGN KEY([ParentZoneId])
REFERENCES [dbo].[Zones] ([Id])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Zones]
GO
ALTER TABLE [dbo].[Presentations]  WITH CHECK ADD  CONSTRAINT [FK_Presentations_Inventory] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Inventory] ([Id])
GO
ALTER TABLE [dbo].[Presentations] CHECK CONSTRAINT [FK_Presentations_Inventory]
GO
ALTER TABLE [dbo].[Presentations]  WITH CHECK ADD  CONSTRAINT [FK_Presentations_Kids] FOREIGN KEY([KidId])
REFERENCES [dbo].[Kids] ([Id])
GO
ALTER TABLE [dbo].[Presentations] CHECK CONSTRAINT [FK_Presentations_Kids]
GO
ALTER TABLE [dbo].[Presentations]  WITH CHECK ADD  CONSTRAINT [FK_Presentations_Users] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Presentations] CHECK CONSTRAINT [FK_Presentations_Users]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_Skill_Inventory] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Inventory] ([Id])
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_Skill_Inventory]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_Skill_Kids] FOREIGN KEY([KidId])
REFERENCES [dbo].[Kids] ([Id])
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_Skill_Kids]
GO
ALTER TABLE [dbo].[Zones]  WITH CHECK ADD  CONSTRAINT [FK_Zones_Zones] FOREIGN KEY([ParentZoneId])
REFERENCES [dbo].[Zones] ([Id])
GO
ALTER TABLE [dbo].[Zones] CHECK CONSTRAINT [FK_Zones_Zones]
GO
USE [master]
GO
