@model ForgotPasswordModel
@{
    ViewBag.Title = "Восстановление пароля";
}
<div class="col-md-4">
    <div class="block">
        <div class="block-title">
            <h2>Восстановление пароля</h2>
        </div>
    

@using (Html.BeginForm<LoginController>(x => x.ForgotPassword(null), FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div  class="col-md-12">
            <div class="help-block">
                <span>Пожалуйста, укажите ваш емейл, и мы вышлем вам новый пароль.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Email" class=" control-label col-md-3">E-mail</label>
	    <div  class="col-md-9">
            <input class="form-control"
                data-val="true" data-val-email="Введен некорректный e-mail" 
                data-val-email-email="true" 
                data-val-required="Пожалуйста, введите e-mail" 
                id="Email" name="Email" placeholder="alepush@gmail.com" type="text" value="">
            <div class="help-block"><span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></div>
	    </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-md-3 col-md-offset-3">
	        <button class="js_submitButton btn btn-effect-ripple btn-primary" type="submit" autofocus>Выслать новый пароль</button>
        </div>
    </div>
    if(ViewBag.ErrorMessage != null)
    {
    <div class="form-group">
        <div class=" col-md-offset-3 col-md-9">
		        <div id="errorMessage" class="errorMessage help-block">@ViewBag.ErrorMessage</div>
        </div>
    </div>
    }
}
    </div>
</div>