@{
    ViewBag.Title = "Пароль переустановлен";
}

<h2>Пароль переустановлен</h2>

<span>Пароль успешно переустановлен.<br/> Новый пароль выслан на ваш емейл.</span>

<br/>

@Html.ActionLink("На Главную", "Index", "Home")

