@{
    ViewBag.Title = "Пароль переустановлен";
}

<div class="col-md-4">
    <div id="main" class="block">
        <div class="block-title">
            <h2>Пароль переустановлен</h2>
        </div>
    
        <span>Пароль успешно переустановлен.<br/> Новый пароль выслан на ваш емейл.</span>
    </div>
<br/>

@Html.ActionLink("На Главную", "Index", "Home")
</div>
