<div class="observationListFilter">
    <a href="javascript:void(0)" class="js_filterObservationsAll filterLink" ng-click="setFilterType('')">Все</a>
    <a href="javascript:void(0)" class="js_filterObservationsActivities filterLink" ng-click="setFilterType('Activity')">Работа с материалами</a>
    <a href="javascript:void(0)" class="js_filterObservationsCameInClass filterLink" ng-click="setFilterType('CameInClass')">Вход в класс</a>
    <a href="javascript:void(0)" class="js_filterObservationsEmotion filterLink" ng-click="setFilterType('Emotion')">Настроение</a>
    <a href="javascript:void(0)" class="js_filterObservationsComments filterLink" ng-click="setFilterType('WithComments')">Комментарии</a>
    <div class="clearFloatBoth"></div>
</div>
